#wholebody{
    padding-right: 100px;
    padding-left: 100px;
    position: relative;
    bottom: 140px;
} 

#filterbox{
    display: flex;
    gap: 50px;
    border: 1px solid black;
    border-left-color: white;
    border-right-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}
#a-z:hover{
    background-color: black;
    color: white;
}
#filtertext{
    position: relative;
    top: 4px;
}
#a-z{
    position: relative;
    font-size: small;  
    border: 2px solid black;
    padding: 5px;
}


.bundle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 90px;
}
#watchesdiv,#powerbankdiv,#pendrivediv,#earbudsdiv,#boomdiv{
   padding-top: 50px;
}

.productimg{
    position: relative;
    left: 4px;
    height: 300px;
    width: 300px;
    border-radius: 20px;
}
.setofproducts{
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
}
.setofproducts:hover{
            background-color: black;
            color: white;
            transform: scale(1.0);
            transition: 1s;
                box-shadow:
    0px 15px 35px rgba(0,0,0,0.45),
    0px 25px 60px rgba(0,0,0,0.35),
    0px 5px 15px rgba(0,0,0,0.25);
}
.p-name{
    position: relative;
    top: 5px;
    left: 5px;
    font-size: small;
}
.price{
    position: relative;
    top: 20px;
    left: 5px;
    font-size: medium;
}
del{
    font-size: small;
}
.notify{
    border: 2px solid rgb(243, 238, 238);
    width: 100px;
    position: relative;
    bottom: 335px;
    left: 5px;
    font-size: small;
    text-align: center;
    background-color:black;
    color: white;
    border-radius: 20px;
}
#allproducts i{
    color: black;
    position: relative;
    bottom: 360px;
    left: 280px;
   cursor: pointer;
   text-shadow:
   0 5px 15px rgba(0,0,0,0.7),
   0 10px 30px rgba(0,0,0,0.6),
   0 15px 45px rgba(0,0,0,0.5);
}
#allproducts i:hover{
    transform: scale(1.25);

    text-shadow:
    0 0 15px rgba(0,0,0,1),
    0 0 30px rgba(0,0,0,0.95),
    0 0 50px rgba(0,0,0,0.9),
    0 0 70px rgba(0,0,0,0.85);

    transition: 0.3s ease;
}
.trollyimg{
    width: 10px;
    height: 10px; 
    position: relative;
    right: 4px;
}
.trolly-button{
    background-color: black;
    border-color: white;
    color: white;
    position: relative;
    bottom: 50px;
    left: 190px;
    border-radius: 5px;
    font-size: xx-small;
}
.buynow-button{
    background-color: black;
    border-color: white;
    color: white;
    font-size: xx-small;
    position: relative;
    bottom: 20px;
    left: 120px;
    border-radius: 5px;
}



