
#freeshipping{
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: xx-small ;
}

#logos{
    position: relative;
    top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content:center;
    gap: 100px;
}
#logos i{
    position: relative;
    bottom: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
#mainlogo{
    height: 300px;
    width: 300px;
    position: relative;
    bottom: 160px; 
} 

#menubar{ 
    display: flex;
    justify-content: center;
    gap: 90px;  
    position: relative;
    bottom: 130px;
}
#searchbar{
    height: 35px;
    width: 950px;
    position: relative;
    left: 200px;
    bottom: 210px;
    border: 2px solid black;
}
.menu{
    position: relative;
    bottom: 50px;
    text-decoration: none;
    color: black;
    font-family: Impact, sans-serif;
    font-size: x-large;
}
.menu::after{
    content: "";
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s ease;
}

.menu:hover::after{
    width: 100%;
}
/* Updated Hover Effect */
.menu:hover {
    color: black;
    text-shadow: 3px 3px 6px rgba(19, 20, 20, 0.5); /* Using aqua to match your shipping bar */
    transform: translateY(-2px); /* Slightly lifts the text up */
    transition: all 0.3s ease;
}
i:hover {
    color: black;
    text-shadow: 3px 3px 6px rgba(19, 20, 20, 0.5); /* Using aqua to match your shipping bar */
    transform: translateY(-2px); /* Slightly lifts the text up */
    transition: all 0.3s ease;
}

.auth-buttons{
    display: inline;
    display: flex;
    gap: 15px;
    position: relative;
    left: 1120px;
    bottom: 20px;
    width: 100px;
}

.login-btn,
.register-btn{
    padding: 10px 22px;

    border: 2px solid black;
    background-color: white;
    color: black;

    font-size: 11px;
    letter-spacing: 2px;
    font-weight: bold;

    border-radius: 30px;

    cursor: pointer;

    transition: 0.3s ease;
}

.login-btn:hover,
.register-btn:hover{
    background-color: black;
    color: white;

    transform: translateY(-3px);

    box-shadow:
    0px 10px 25px rgba(0,0,0,0.35);
}