body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#registerbody{
    min-height: 100vh;
    background: linear-gradient(to bottom right, #f5f5f5, #dcdcdc);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#registermain{
    width: 390px;
    padding: 20px;
    border-radius: 25px;
    background: black;
    color: white;

    box-shadow:
    0px 30px 80px rgba(0,0,0,1),
    0px 15px 40px rgba(0,0,0,0.95),
    0px 5px 20px rgba(0,0,0,0.9);
}

#registermain h1{
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 4px;
    font-size: 26px;
    color: white;
}

#registermain label{
    font-size: 12px;
    letter-spacing: 1px;
    color: white;
}

.registerinput{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 8px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.25);
    background: transparent;
    color: white;
    outline: none;
}

.registerinput:focus{
    border-color: white;
    box-shadow: 0 0 15px rgba(255,255,255,0.25);
}

#registersubmitbutton{
    width: 100%;
    padding: 9px;
    margin-top: 5px;
    border-radius: 30px;
    border: 2px solid white;
    background: white;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s ease;
}

#registersubmitbutton:hover{
    background: black;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 15px 35px rgba(255,255,255,0.18);
}

#loginlink{
    text-align: center;
    margin-top: 8px;
    color: #cfcfcf;
    font-size: 13px;
}

#loginlink span{
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
}

#loginlink span:hover{
    text-decoration: underline;
}